@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: fonttieude;
  src: url( ../font/Arimo-Regular.ttf);}

 
@font-face {
  font-family: fontnd;
  src: url( ../font/Barlow-Regular.ttf);}

h2 {font-family: fonttieude;}


.hcn1 
{ 
	height: 120px; 
	width: 100%; 
}
.menu 
{   height: 72px; 
	width: 100%; 
	font-family: fontnd; 
	display: flex;
	justify-content: center;
	border-top: 1px solid; 
	border-color: black;
}
.menu_item
{
	width: 1185px;
	height: 90px;
	position: relative;
	top: -16px;
}
ul 
{
	list-style: none; 
	padding: 0;
	font-size: 100%;	
}
ul li
{ 
	float: left;
	padding: 2% 5% 2.5% 6%; 
	position: relative; 
	transition: all 0.5s ease; 
}
ul li:hover 
{
	background:#D2C2B8; 
	text-decoration-color: #000000;
}
ul li a
{ 
	text-decoration: none; 
	color: black;
}
ul li ul 
{
	position: absolute; 
	left: 30%; 
	top: 71px; 
	visibility: hidden;
	padding: 0;
}
ul li ul li 
{ 
	width: 180px;
	height: 70%;   
	background: #EAD9CF;
}
ul li:hover ul 
{
	visibility:visible
}


.image 
{ 
	height: auto; 
	width: 100%;
}
.danhmuc 
{
	height: 150px; 
	width: 100%;
	background: #EAD9CF ;   
	font-family: fonttieude;
	top: 50%;
}
.middle 
{
	height: 300px; 
	width: 100%;  
	display:flex; 
	justify-content: center; 
	background: #EAD9CF
}

   .box 
{ 
	height: 300px; 
	width: 150px; 
	float: left; 
	margin: 3% 2% 5% 1%;
	font-family: fontnd;  
}
.box img {
        transition: all .3s ease;}
.box img:hover {
        transform: scale(1.3);}


.sanphamnoibat 
{
	height: 80px; 
	width: 100%;
	font-family: fonttieude;
}
.sanpham 
{
	height: 350px; 
	width: 100% ;
	display:flex; 
	justify-content: center;
}
.boxspnb
{
	height: 300px;
	width: 150px;
	float: left;
	margin: 3% 2% 5% 1%;
	font-family: fontnd;
}
.boxspnb IMG {
        transition: all .3s ease;}
.boxspnb IMG:hover {
        transform: scale(1.3);}


button 
{
	height: 30px; 
	width: 150px; 
	background-color: transparent;
	border: 1px solid;
}
.quangcao
{
	height: 450px;
	width: 100%;
    background: #EAD9CF;
	
}
.hinhqc
{
	height: 450px;
	width: 50%;
    background: #EAD9CF;
	float: left;
	font-family: fonttieude;
}
.hinhqc button 
{  
	
	margin: 8% 20% 0% 20%;
    height: 30%; 
	width: 50%; 
	font-size: 20px;
	font-family: fonttieude;
}
.hinhqc button {
        transition: all .3s ease;}
.hinhqc button:hover {
        transform: scale(1.3);}


.lienhe
{
	height: 250px;
	width: 100%;
    background-color: white;
	position: relative;
	
}
.lienhe1 
{
	height: 250px;
	width: 25%;
    background-color: white;
	float: left;
	font-family: fontnd;
	font-size: 20px;
	
}
.lienhe1 button 
    {margin: 20%;
    height: 30%; 
	width: 70%; 
	font-size: 12px;
	font-family: fonttieude;
	background: #EAD9CF;
	border:#B45354;
		
}
.lienhe1 button {
        transition: all .3s ease;}
.lienhe1 button:hover {
        transform: scale(1.3);}

.social2 a
{
	border: none;
	width: 30px;
	height: 30px;
	padding-top: 2px;
	margin-right: 3px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all.3s;
	background-color: white;
	float: right;
	position: absolute;
	right: 90px;
	bottom: 40px;
}

.social2 a:hover
{
	-webkit-transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	transform: rotateZ(-30deg);
}

.social3 a
{
	border: none;
	width: 30px;
	height: 30px;
	padding-top: 2px;
	margin-right: 3px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all.3s;
	background-color: white;
	float: right;
	position: absolute;
	right: 130px;
	bottom: 40px;
}

.social3 a:hover
{
	-webkit-transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	transform: rotateZ(-30deg);
}

.social4 a
{
	border: none;
	width: 30px;
	height: 30px;
	padding-top: 2px;
	margin-right: 3px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all.3s;
	background-color: white;
	float: right;
	position: absolute;
	right: 170px;
	bottom: 40px;
}

.social4 a:hover
{
	-webkit-transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	transform: rotateZ(-30deg);
}

.social5 a
{
	border: none;
	width: 30px;
	height: 30px;
	padding-top: 2px;
	margin-right: 3px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all.3s;
	background-color: white;
	float: right;
	position: absolute;
	right: 50px;
	bottom: 40px;
}

.social5 a:hover
{
	-webkit-transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	transform: rotateZ(-30deg);
}







